@use 'tailwindcss/base' as *;
@use 'tailwindcss/components' as *;
@use 'tailwindcss/utilities' as *;
@use '@/styles/color.scss' as *;

page {
    font-size: 32px;
    vertical-align: bottom;
    font-family:
        ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --nutui-color-primary: #2a86e8;
    --radio-label-font-active-colo: #2a86e8;
    --primary-color-end: #2a86e8;
    --nutui-color-primary-stop-1: #2a86e8;
    --nutui-color-primary-stop-2: #2a86e8;
    --nutui-switch-width: 104px;
    --nutui-switch-height: 52px;
    --nutui-switch-inside-open-transform: translateX(
        calc(var(--nutui-switch-width) - 100% - 10px)
    );
    --nutui-picker-bar-cancel-font-size: 38px;
    --nutui-picker-bar-ok-font-size: 38px;
    --nutui-picker-bar-title-font-size: 42px;
    --nutui-calendar-header-height: auto;
    --nutui-popup-title-height: 50px;
    --nutui-picker-title-cancel-font-size: 36px;
    --nutui-picker-title-ok-font-size: 36px;
    --nutui-font-size-3: 36px;
    --nutui-noticebar-font-size: 36px;
    --tw-shadow-color: rgba(0, 0, 0, 0.05);
    @apply text-black bg-bg;
}

.transition {
    transition: all 0.15s;
}

.shadow-md {
    box-shadow: 0 10px 8px -6px var(--tw-shadow-color);
}

.default-button {
    background-image: linear-gradient(135deg, #25b397 0%, #01cc82 100%);
    box-shadow: 0 10px 30px 0 #01ce9a3d;
}

.input-focus {
    background-color: white !important;
    border: 2px solid $green !important;
    box-shadow: 0 0 10px 0px $green-shadow !important;
}

.activeCard {
    background-image: linear-gradient(
        117deg,
        #effffc 0%,
        #e7fff6 100%
    ) !important;
    border: 2px solid $green !important;
}

.inputPlaceholder {
    font-weight: 400 !important;
    font-size: 34px !important;
    color: #b4b4b4 !important;

    &_number {
        color: $black !important;
        font-size: 38px !important;
        font-weight: 500 !important;
    }
}

.occupy-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    /*兼容 IOS<11.2*/
    padding-bottom: env(safe-area-inset-bottom);
    /*兼容 IOS>11.2*/
}

.occupy-top {
    width: 100%;
    padding-top: constant(safe-area-inset-top);
    /*兼容 IOS<11.2*/
    padding-top: env(safe-area-inset-top);
    /*兼容 IOS>11.2*/
}

.bg-green-blur {
    width: 775.72px;
    height: 635.64px;
    background-image: linear-gradient(223deg, #d9fff54d 0%, #f7fffd 80%);
    filter: blur(100px);
    position: fixed;
    left: -387px;
    bottom: -193.64px;
    z-index: -1;
}

.bg-green-opacity {
    position: fixed;
    top: 0;
    left: 0;
    width: 750px;
    height: 590px;
    opacity: 1;
    background-image: linear-gradient(
        179.92deg,
        rgba(27, 204, 142, 1) 0%,
        rgba(31, 196, 130, 1) 75.61%,
        rgba(0, 255, 140, 0) 100%
    );
    z-index: -1;
}

.bg-blue-opacity {
    @extend .bg-green-opacity;
    background: linear-gradient(
        179.92deg,
        rgba(80, 166, 255, 1) 0%,
        rgba(60, 156, 255, 1) 75.61%,
        rgba(60, 156, 255, 0) 100%
    );
}

.bg-orange-opacity {
    @extend .bg-green-opacity;
    background: linear-gradient(
        179.92deg,
        rgba(255, 120, 79, 1) 0%,
        rgba(255, 197, 61, 1) 75.61%,
        rgba(252, 255, 61, 0) 100%
    );
}

.bg-blur {
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
}

.bg-opacity-50 {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &-key {
        top: calc(50% - 5px);
    }
}

.prompt {
    background: #ffa7191a;
    border-radius: 20px;
    padding: 24px 32px;
    margin-top: 32px;
    position: relative;

    &_top_left {
        position: absolute;
        left: 40px;
        top: -10px;
        width: 20px;
        height: 20px;
        background-color: #fff6eb;
        transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
        border-top-right-radius: 90%;

        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            background-color: #fff6eb;
        }

        &:after {
            transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
                translate(0, -50%);
        }

        &:before {
            transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414)
                translate(50%);
        }
    }

    &_title {
        font-weight: 400;
        font-size: 28px;
        color: $gray-8c;
    }

    &_btm {
        margin-top: 16px;
        font-weight: 500;
        font-size: 28px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @apply text-gray-8c;
    }

    &_bold {
        font-weight: 500;
        font-size: 28px;
        color: #4d4d4d;
    }
}

.prompt-warn {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #f9ede4;
    padding: 34px 46px;
    border-radius: 20px;

    &-img {
        width: 38px;
        height: 38px;
        flex-shrink: 0;
    }

    &-desc {
        flex-shrink: 1;
        width: 100%;
        color: #fe6058;
        font-size: 26px;
    }
}

.closeTable {
    height: 0 !important;
    transform: translateY(-10%) !important;
    opacity: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    border: none !important;
}

.scrollView {
    height: 100vh;
    box-sizing: border-box;
}

.nut-radiogroup .nut-radio {
    margin-bottom: 0 !important;
}

.popBox {
    border-radius: 32px 32px 0 0;
}

.container {
    padding: 12px 24px;
    box-sizing: border-box;
}

.nut-calendar-day-choose {
    background-color: $green-bg !important;
}

.nut-calendar-footer {
    @extend .occupy-bottom;
}

.picker-mask {
    max-width: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 33%,
        rgba(0, 0, 0, 0) 66%,
        rgba(0, 0, 0, 0.8) 100%
    );
    background-size: 100% 100% !important;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9;
}

.nut-calendar-day {
    font-size: 52rpx;
    font-weight: 600 !important;
}

input[disabled] {
    color: $gray-6;
}

custom-wrapper {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    //display: flex;
    //align-items: flex-start;
}

.tag {
    font-weight: 500;
    font-size: 20px;
    border: 2px solid;
    border-radius: 6px;
    padding: 0 5px;
    white-space: nowrap;

    &_green {
        @apply text-green border-green;
    }

    &_orange {
        @apply text-orange border-orange;
    }

    &_blue {
        @apply text-blue border-blue;
    }

    &_gray {
        @apply text-gray-8c border-gray-8c;
    }
}

.nut-radiogroup .nut-radio {
    margin: 0 0 0 0 !important;
}

.dingDan {
    font-size: 24px;
    color: $gray-8c;

    &_num {
        font-size: 30px;
        font-weight: 600;
        font-family: JDZhengHT-Bold;
        color: $black;
    }
}

.xiaQian {
    font-size: 24px;
    color: $gray-8c;

    &_num {
        font-size: 40px;
        font-weight: 600;
        font-family: JDZhengHT-Bold;
    }

    &_num_s {
        font-size: 40px;
        font-weight: 400;
        font-family: JDZhengHT-Regular;
    }
}

.box-white {
    @apply px-3 py-2 mt-3 rounded-xl box-border bg-white shadow-md;
}

.button-blue {
    @apply text-blue bg-white text-[28px] px-2 py-[4px] rounded-md box-border border-blue border-[2px] border-solid;
}

.no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
        /* Chrome Safari */
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.switch-small {
    --nutui-switch-width: 72px;
    --nutui-switch-height: 36px;
    --nutui-switch-inside-width: 20px;
    --nutui-switch-inside-height: 20px;
    --nutui-switch-inside-close-transform: translateX(50%);
    --nutui-switch-inside-open-transform: translateX(
        calc(var(--nutui-switch-width) - 100% - 10px)
    );
}

.index-module__calendarPop___Sni_Q {
    height: 90vh !important;
}

.nut-popup-bottom,
.nut-popup-top {
    max-height: 90% !important;
}

.nut-calendar-week-item {
    color: $green !important;
}

.font-big-bold {
    @include fontWeight(32);
}

.disabled {
    filter: grayscale(100%);
}
