@use 'tailwindcss/base' as *;
@use 'tailwindcss/components' as *;
@use 'tailwindcss/utilities' as *;

.bg {
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 13px,
        hsl(var(--b2)) 13px,
        hsl(var(--b2)) 15px
    );
}

.imgBg {
    background:
        repeating-linear-gradient(
            transparent,
            transparent 10px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 10px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 15px,
            transparent 15px,
            transparent 20px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 15px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 40px,
            transparent 40px,
            transparent 45px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 45px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 50px,
            transparent 50px,
            transparent 80px
        ),
        repeating-linear-gradient(
            90deg,
            transparent,
            transparent 10px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 10px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 15px,
            transparent 15px,
            transparent 20px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 15px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 40px,
            transparent 40px,
            transparent 45px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 45px,
            hsl(var(--b2) / var(--tw-bg-opacity)) 50px,
            transparent 50px,
            transparent 80px
        ),
        hsl(var(--b1) / var(--tw-bg-opacity));

    background-blend-mode: multiply;
}

page {
    font-family:
        alimama,
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        Segoe UI Symbol,
        'Noto Color Emoji';
}

.container {
    @apply px-3 py-2;
}

.box {
    @apply px-2 py-3 bg-base-100 rounded-lg shadow-lg mt-3;
}

.occupy-bottom {
    padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
    padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
}

.picker-mask {
    background: linear-gradient(
        0deg,
        hsl(var(--b2) / 0.8) 0%,
        hsl(var(--b2) / 0) 33%,
        hsl(var(--b2) / 0) 66%,
        hsl(var(--b2) / 0.8) 100%
    );
    background-size: 100% 100% !important;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9;
}

.indHeight {
    height: 306px;

    @apply bg-accent bg-opacity-10;

    &::before {
        content: none;
    }

    &::after {
        content: none;
    }
}

button {
    &::after {
        border: none;
    }
}

.nut-pickerview-roller {
    .nut-pickerview-roller-item {
        @apply text-base-content text-lg !important;
    }

    .nut-pickerview-roller-item-active {
        @apply text-accent font-bold !important;
    }
}

.nut-pickerview-indicator {
    @apply bg-accent bg-opacity-10 !important;
}
